
<%- model_class = Topic -%>
<div class="page-header">
  <h1><%=t '.title', :default => @topic.name %></h1>
</div>

<% for post in @topic.posts %>  
  <article class="post"> <!-- space for Post ID-->
      
      <div class="post-top">
        <div class="user-name">
          <%= link_to post.user.name, post.user %>
        </div>
        <div class="post-date">
          created on: <%= post.created_at %>
        </div>
      </div>  
      <div class="post-body">
        <div class="left">
          <div class="user-info">
            <%= post.user.title %>
            <%= image_tag(post.user.logo.url(:medium)) %>
            <%= mail_to(post.user.email, 'E-Mail') if user? %>
            <!-- Avatar/ Member Group/ .... -->  
          </div>
        </div>
        <div class="center">
          <div class="post-msg">
    			 <%= post.content.bbcode_to_html.html_safe %>
          </div>
          <div class="sig-line">
          </div>
          <div class="user-sig">
            Signature               
          </div>
        </div>
      </div>
      <% if moderator_or_owner?(post.user.id) %>
      <div class="right">
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      "#{edit_post_path(post)}?topic=#{@topic.id}", :class => 'btn btn-mini' unless post == @topic.posts.first %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      post_path(post),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' unless post == @topic.posts.first %>
      </div>
      <% end %>
  </article>

<% end %>

<% if user? %>
  <p class="reply">
    <%= link_to "Reply", 
                "#{new_post_path}?topic=#{@topic.id}",
                :class =>'btn btn-primary' %>
  </p>
<% end %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              "/forums/#{@topic.forum_id}", :class => 'btn' %>
  <% if moderator_or_owner?(@topic.user.id) %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_topic_path(@topic), :class => 'btn' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                topic_path(@topic),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
  <% end %>
</div>

