<%= form_for(@project_license) do |f| %>
  <% if @project_license.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_license.errors.count, "error") %> prohibited this project_license from being saved:</h2>

      <ul>
      <% @project_license.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :license_url %><br>
    <%= f.text_field :license_url %>
  </div>
  <div class="field">
    <%= f.label :license_text %><br>
    <%= f.text_area :license_text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
