<%= link_to "BluePanel - Source that matters…", root_path, :class => 'brand' %>
<div class="container-fluid nav-collapse">
  <ul class="nav">
    <li><%= link_to "Projects", projects_path %></li>
    <li><%= link_to "Forums", forums_path %></li>
    <li><%= link_to "Userlist", users_path %></li>
  </ul>
  <ul class="nav pull-right">
    <%= render 'devise/menu/registration_items' %>
    <%= render 'devise/menu/login_items' %>
  </ul>
</div><!--/.nav-collapse -->
